{% extends "header.xml.twig" %}

{% block content %}
  <form id="{{ id }}" action="">
    <block>
      <prompt>{{ message | raw }}</prompt>
    </block>
    {{ footer | raw }}
  </form>
{% endblock %}
