{% extends "header.xml.twig" %}

{% block content %}
  <form id="{{ id }}" action="">
      <block>
          {{ message | raw }}
      </block>
      
      <record name="identity" beep="true" maxtime="10s" finalsilence="5000ms" type="audio/x-wav" dtmfterm="true">
          <noinput count="1">Sorry I did not hear anything.<reprompt/></noinput>
          <noinput count="2">I still did not hear anything.<reprompt/></noinput>
      </record>

      <filled>
        <assign name="recorded_{{ id }}" expr="identity" />
        <assign name="filename" expr="session.callerid" />
        <prompt>Hello <audio expr="identity"/></prompt>
        <goto next="{{ nextid }}"/>
      </filled>
  </form>
  
{% endblock %}
