{% extends "header.xml.twig" %}

{% block content %}
  <form id="{{ id }}" action="">
      <block>
          {{ message | raw }}
      </block>

      <var name="filename" expr="session.callerid"/>
      
      <record name="identity" beep="true" maxtime="10s" finalsilence="5000ms" type="audio/x-wav" dtmfterm="true">
          <noinput count="1">Sorry I did not hear anything.<reprompt/></noinput>
          <noinput count="2">I still did not hear anything.<reprompt/></noinput>
      </record>

      <filled>
        <submit next="identity/save_record.php?id={{ id }}" namelist="identity filename" method="post" enctype="multipart/form-data" fetchtimeout="10s"/>
      </filled>
  </form>

  <block>
    <goto next="{{ nextid }}"/>
  </block>
{% endblock %}
